// footer start
footer.footer-sm-space
  .sub-footer
    .container
      .row.gy-3
        .col-md-6
          ul
            li.font-dark &Mcy;&ycy; &pcy;&rcy;&icy;&ncy;&iecy;&mcy;&acy;&iecy;&mcy;:
            li
              a(href='javascript:void(0)')
                img.img-fluid.blur-up.lazyload(src='assets/images/payment-icon/1.jpg' alt='payment icon')
            li
              a(href='javascript:void(0)')
                img.img-fluid.blur-up.lazyload(src='assets/images/payment-icon/2.jpg' alt='payment icon')
            li
              a(href='javascript:void(0)')
                img.img-fluid.blur-up.lazyload(src='assets/images/payment-icon/3.jpg' alt='payment icon')
            li
              a(href='javascript:void(0)')
                img.img-fluid.blur-up.lazyload(src='assets/images/payment-icon/4.jpg' alt='payment icon')
        .col-md-6
          p.mb-0.font-dark
            | &copy; 2024 &Scy;&dcy;&iecy;&lcy;&acy;&lcy;&acy; &Kcy;&icy;&rcy;&icy;&chcy;&iecy;&ncy;&kcy;&ocy; &YUcy;&lcy;&softcy;&yacy; &Acy;&ncy;&acy;&tcy;&ocy;&lcy;&softcy;&iecy;&vcy;&ncy;&acy;
// footer end