// service section start
section.service-section.service-style-2.section-b-space
  .container
    .row.g-4.g-sm-3
      .col-xl-3.col-sm-6
        .service-wrap
          .service-icon
            svg
              use(xlink:href='assets/svg/icons.svg#customer')
          .service-content
            h3.mb-2 &Ncy;&acy;&dcy;&iocy;&zhcy;&ncy;&ycy;&jcy; &pcy;&ocy;&mcy;&ocy;&shchcy;&ncy;&icy;&kcy;!
            span.font-light &Kcy;&rcy;&ucy;&gcy;&lcy;&ocy;&scy;&ucy;&tcy;&ocy;&chcy;&ncy;&acy;&yacy; &pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy; &kcy;&lcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy; 24/7.
      .col-xl-3.col-sm-6
        .service-wrap
          .service-icon
            svg
              use(xlink:href='assets/svg/icons.svg#shop')
          .service-content
            h3.mb-2 10+ &Fcy;&icy;&lcy;&icy;&acy;&lcy;&ocy;&vcy;
            span.font-light &Ucy; &ncy;&acy;&scy; &bcy;&ocy;&lcy;&iecy;&iecy; 10 &fcy;&icy;&lcy;&icy;&acy;&lcy;&ocy;&vcy;, &ocy;&khcy;&vcy;&acy;&tcy;&ycy;&vcy;&acy;&yucy;&shchcy;&icy;&khcy; &vcy;&iecy;&scy;&softcy; &gcy;&ocy;&rcy;&ocy;&dcy;.
      .col-xl-3.col-sm-6
        .service-wrap
          .service-icon
            svg
              use(xlink:href='assets/svg/icons.svg#secure-payment')
          .service-content
            h3.mb-2 &Bcy;&iecy;&zcy;&ocy;&pcy;&acy;&scy;&ncy;&acy;&yacy; &ocy;&pcy;&lcy;&acy;&tcy;&acy;
            span.font-light &Mcy;&ycy; &gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&rcy;&ucy;&iecy;&mcy; &zcy;&acy;&shchcy;&icy;&tcy;&ucy; &vcy;&acy;&shcy;&icy;&khcy; &fcy;&icy;&ncy;&acy;&ncy;&scy;&ocy;&vcy;&ycy;&khcy; &tcy;&rcy;&acy;&ncy;&zcy;&acy;&kcy;&tscy;&icy;&jcy;.
      .col-xl-3.col-sm-6
        .service-wrap
          .service-icon
            svg
              use(xlink:href='assets/svg/icons.svg#return')
          .service-content
            h3.mb-2 &Bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;
            span.font-light 30 &dcy;&ncy;&iecy;&jcy; &ncy;&acy; &lcy;&iecy;&gcy;&kcy;&icy;&jcy; &icy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;.
// service section end