// home slider start
section.home-section.home-style-2.pt-0
  .container-fluid.p-0
    .slick-2.dot-dark
      div
        .home-slider
          .home-wrap.row.m-0
            .col-xxl-3.col-lg-4.p-0.d-lg-block.d-none
              .home-left-wrapper
                div
                  h2 &IEcy;&zhcy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&icy;&kcy; Brauberg &quot;Magnetic&quot;
                  p
                    | &Vcy;&acy;&shcy; &ncy;&acy;&dcy;&iocy;&zhcy;&ncy;&ycy;&jcy; &scy;&pcy;&ucy;&tcy;&ncy;&icy;&kcy; &vcy; &ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&icy; &vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&icy; &icy; &vcy;&ocy;&pcy;&lcy;&ocy;&shchcy;&iecy;&ncy;&icy;&icy;
                    | &icy;&dcy;&iecy;&jcy;. &Ocy;&tcy;&kcy;&rcy;&ocy;&jcy;&tcy;&iecy; &ncy;&ocy;&vcy;&ycy;&jcy; &ucy;&rcy;&ocy;&vcy;&iecy;&ncy;&softcy; &ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&icy; &scy; &iecy;&zhcy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&icy;&kcy;&ocy;&mcy;
                    | &apos;Magnetic&apos; &ocy;&tcy; Brauberg.&quot;
                  h3
                    | 299 &scy;&ocy;&mcy; 
                    span.theme-color.td 600 &scy;&ocy;&mcy;
                  ul.selection-wrap
                  .add-btn
                    a.btn.btn-white(href='cart.html') &vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
            .col-xxl-9.col-lg-8.p-0.left-content
              img.bg-img.blur-up.lazyload(src='assets/images/fashion/slider/3.jpg' alt='')
              .home-content.row
                .col-xxl-4.col-lg-4.col-md-4.col-sm-5.col-6
                  h3
                    | &Scy;&kcy;&icy;&dcy;&kcy;&icy; 
                    span.theme-color 50%
                  h1(data-animation-in='fadeInUp') &ecy;&tcy;&ocy; &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &ncy;&acy;&chcy;&acy;&lcy;&ocy;
                  h6.mb-4(data-animation-in='fadeInUp' data-delay-in='0.4')
                    | &Acy;&kcy;&tscy;&icy;&yacy; &dcy;&iecy;&jcy;&scy;&tcy;&vcy;&ucy;&iecy;&tcy; &dcy;&ocy;
                    span.theme-color 17.08.2024
      div
        .home-slider
          .home-wrap.row.m-0
            .col-xxl-3.col-lg-4.p-0.d-lg-block.d-none
              .home-left-wrapper
                div
                  h2 Raw Ham Colorblock T-shirt
                  p
                    | The international hoodies with excellent durable fabric,
                    | not to heavy but simply PERFECT for Indian summer.
                  h3
                    | $49.55 
                    span.theme-color $49.55
                  .add-btn
                    a.btn.btn-white(href='cart.html') Add to cart
                    a.btn.btn-solid-default.ms-2(href='javascript:void:(0)')
                      i.fas.fa-heart
            .col-xxl-9.col-lg-8.p-0.left-content
              img.bg-img.blur-up.lazyload(src='assets/images/fashion/slider/1.jpg' alt='')
              .home-content.row
                .col-xxl-4.col-lg-5.col-md-6.col-sm-7.col-9
                  h3
                    | Sale 
                    span.theme-color 70% OFF
                  h1(data-animation-in='fadeInUp') New Tranding Fashion
                  h6.mb-4(data-animation-in='fadeInUp' data-delay-in='0.4')
                    | BUY ONE GET ONE 
                    span.theme-color FREE
// home slider end