// Banner section 3 start
section.timer-banner-style-2
  .container
    .row.gy-3
      .col-lg-12
        .discount-image-details.discount-spacing
          img.bg-img.blur-up.lazyload(src='assets/images/fashion/banner/8.jpg' alt='')
          .discunt-details
            div
              .heart-button.heart-button-2
                i.fas.fa-heart.theme-color
              h5.mt-3
                | &Scy;&kcy;&icy;&dcy;&kcy;&icy; 
                span.theme-color 50%
              h2.my-3.deal-text
                | &Ncy;&acy; &vcy;&scy;&iecy; 
                br
                |                     &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy; &tcy;&ocy;&vcy;&acy;&rcy;&ycy; 
                br
                span.theme-color -50%
              .timer-style-2.mt-xl-1.my-2.justify-content-center.d-flex
                ul
                  li
                    .counter
                      div
                        h2#days1.theme-color
                        |                             &Dcy;&ncy;&iecy;&jcy;
                  li
                    .counter
                      div
                        h2#hours1.theme-color
                        |                             &CHcy;&acy;&scy;&ocy;&vcy;
                  li
                    .counter
                      div
                        h2#minutes1.theme-color
                        |                             &Mcy;&icy;&ncy;&ucy;&tcy;
                  li
                    .counter
                      div
                        h2#seconds1.theme-color
                        |                             &Scy;&iecy;&kcy;&ucy;&ncy;&dcy;
              button.btn.default-light-theme.default-theme.mt-2(onclick="location.href = 'shop-left-sidebar.html';" type='button')
                | &Ncy;&acy;&chcy;&acy;&tcy;&softcy; &pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&icy;
              .timer-bg.timer-bg-center.d-lg-block.d-none
                h3.mt-0 &Scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&iecy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy;
                span 17.08.2024
// Banner section 3 end